body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

footer {
    padding-top: 0;
    text-align: right;
}

a {
    color: #388E3C
}

.datepicker-date-display, .datepicker-table td.is-selected {
    background-color: #90CAF9 !important;
}

.datepicker-cancel, .datepicker-done {
    color: #90CAF9;
}

.waves-effect input[type="submit"] {
    color: white !important;
}